In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
#getting data of table using pd.read_html
#header=0 means ignoring first column of html table
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1=pd.read_html(url,header=0)[2]
df2=pd.read_html(url,header=0)[3]
df3=pd.read_html(url,header=0)[4]
df4=pd.read_html(url,header=0)[5]

In [3]:
#appending data to data frame
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
267  DECEMBER  ...  [240]
268  DECEMBER  ...  [241]
269  DECEMBER  ...  [242]
270  DECEMBER  ...  [243]
271  DECEMBER  ...  [244]

[272 rows x 7 columns]

In [4]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [5]:
#importing api and setting up details
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
#use your own key here
tmdb.api_key='04b9df5416d75be096abd805b24b47a1'

In [6]:
#searching for movie and getting genre of it using api
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if result:
      movie_id=result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          np.NaN

In [7]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [8]:
df

      Opening  Opening.1  ...   Ref.                                  genres
0     JANUARY          3  ...    NaN                 Horror Mystery Thriller
1     JANUARY         10  ...    NaN  Action Horror Science Fiction Thriller
2     JANUARY         10  ...    NaN                                  Comedy
3     JANUARY         10  ...    NaN                                   Drama
4     JANUARY         10  ...    NaN                    Crime Thriller Drama
..        ...        ...  ...    ...                                     ...
267  DECEMBER         25  ...  [240]            Action Fantasy Family Comedy
268  DECEMBER         25  ...  [241]                       Adventure Western
269  DECEMBER         25  ...  [242]                                   Drama
270  DECEMBER         25  ...  [243]                    Thriller Crime Drama
271  DECEMBER         30  ...  [244]                                   Drama

[272 rows x 8 columns]

In [9]:
#seperating columns that we need
df_2020 = df[['Title','Cast and crew','genres']]

In [10]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Crime Thriller Drama
..                     ...  ...                                     ...
267       We Can Be Heroes  ...            Action Fantasy Family Comedy
268      News of the World  ...                       Adventure Western
269  One Night in Miami...  ...                                   Drama
270  Promising Young Woman  ...                    Thriller Crime Drama
271      Pieces of a Woman  ...                                   Drama

[272 rows x 3 columns]

In [11]:
#getting director/directors
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [13]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
#getting actor
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [15]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [17]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [20]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
267       We Can Be Heroes  ...    YaYa Gosselin
268      News of the World  ...              NaN
269  One Night in Miami...  ...      Aldis Hodge
270  Promising Young Woman  ...      Alison Brie
271      Pieces of a Woman  ...     Molly Parker

[272 rows x 7 columns]

In [22]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [24]:
#split out useful columns
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [25]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
267  Robert Rodriguez  ...       We Can Be Heroes
268   Paul Greengrass  ...      News of the World
269       Regina King  ...  One Night in Miami...
270   Emerald Fennell  ...  Promising Young Woman
271  Kornél Mundruczó  ...      Pieces of a Woman

[272 rows x 6 columns]

In [26]:
#replace nan values 
new_df20['actor_1_name'] = new_df20['actor_1_name'].replace(np.nan, 'unknown')
new_df20['actor_2_name'] = new_df20['actor_2_name'].replace(np.nan, 'unknown')
new_df20['actor_3_name'] = new_df20['actor_3_name'].replace(np.nan, 'unknown')

In [28]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [29]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [30]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
267  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
268   Paul Greengrass  ...  Tom Hanks Helena Zengel unknown Paul Greengras...
269       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
270   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
271  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[272 rows x 7 columns]

In [31]:
#reading old dataset
old_df = pd.read_csv('2019_Movie_data.csv')

In [32]:
old_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5881  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5882            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5883              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5884   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5885         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5886 rows x 7 columns]

In [33]:
#appending combined dataset of 2019 to old dataset
new_df=old_df.append(new_df20,ignore_index=True)

In [34]:
new_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
6153   Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6154    Paul Greengrass  ...  Tom Hanks Helena Zengel unknown Paul Greengras...
6155        Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6156    Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
6157   Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[6158 rows x 7 columns]

In [35]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           2
movie_title      0
comb             2
dtype: int64

In [40]:
new_df=new_df.dropna(how='any')

In [41]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [42]:
#getting new dataset having all 2018 movies
new_df.to_csv('2020_Movie_data.csv',index=False)