<a href="https://colab.research.google.com/github/harsh9802/Movie_Recommendation_System/blob/main/Preprocessing/PreProcessing5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#changing current directory
%cd /content/drive/MyDrive/Movie_Recommender

/content/drive/MyDrive/Movie_Recommender

In [3]:
#importing libraries
import numpy as np
import pandas as pd

In [4]:
#getting data of table using pd.read_html
#header=0 means ignoring first column of html table
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1=pd.read_html(url,header=0)[2]
df2=pd.read_html(url,header=0)[3]
df3=pd.read_html(url,header=0)[4]
df4=pd.read_html(url,header=0)[5]

In [5]:
#appending data to data frame
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
269  DECEMBER  ...  [242]
270  DECEMBER  ...  [243]
271  DECEMBER  ...  [244]
272  DECEMBER  ...  [245]
273  DECEMBER  ...  [246]

[274 rows x 7 columns]

In [6]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [7]:
#importing api and setting up details
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
#use your own key here
tmdb.api_key='04b9df5416d75be096abd805b24b47a1'

In [8]:
#searching for movie and getting genre of it using api
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if result:
      movie_id=result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          np.NaN

In [9]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [10]:
df

      Opening  Opening.1  ...   Ref.                                  genres
0     JANUARY          3  ...    NaN                 Horror Mystery Thriller
1     JANUARY         10  ...    NaN  Action Horror Science Fiction Thriller
2     JANUARY         10  ...    NaN                                  Comedy
3     JANUARY         10  ...    NaN                                   Drama
4     JANUARY         10  ...    NaN                    Crime Thriller Drama
..        ...        ...  ...    ...                                     ...
269  DECEMBER         25  ...  [242]            Action Fantasy Family Comedy
270  DECEMBER         25  ...  [243]                       Adventure Western
271  DECEMBER         25  ...  [244]                                   Drama
272  DECEMBER         25  ...  [245]                    Thriller Crime Drama
273  DECEMBER         30  ...  [246]                                   Drama

[274 rows x 8 columns]

In [11]:
#seperating columns that we need
df_2020 = df[['Title','Cast and crew','genres']]

In [12]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Crime Thriller Drama
..                     ...  ...                                     ...
269       We Can Be Heroes  ...            Action Fantasy Family Comedy
270      News of the World  ...                       Adventure Western
271  One Night in Miami...  ...                                   Drama
272  Promising Young Woman  ...                    Thriller Crime Drama
273      Pieces of a Woman  ...                                   Drama

[274 rows x 3 columns]

In [13]:
#getting director/directors
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [14]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
#getting actor
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [16]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [18]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [20]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
269       We Can Be Heroes  ...    YaYa Gosselin
270      News of the World  ...              NaN
271  One Night in Miami...  ...      Aldis Hodge
272  Promising Young Woman  ...      Alison Brie
273      Pieces of a Woman  ...     Molly Parker

[274 rows x 7 columns]

In [22]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [23]:
#split out useful columns
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [24]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
269  Robert Rodriguez  ...       We Can Be Heroes
270   Paul Greengrass  ...      News of the World
271       Regina King  ...  One Night in Miami...
272   Emerald Fennell  ...  Promising Young Woman
273  Kornél Mundruczó  ...      Pieces of a Woman

[274 rows x 6 columns]

In [25]:
#replace nan values 
new_df20['actor_1_name'] = new_df20['actor_1_name'].replace(np.nan, 'unknown')
new_df20['actor_2_name'] = new_df20['actor_2_name'].replace(np.nan, 'unknown')
new_df20['actor_3_name'] = new_df20['actor_3_name'].replace(np.nan, 'unknown')

In [26]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [27]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [28]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
269  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
270   Paul Greengrass  ...  Tom Hanks Helena Zengel unknown Paul Greengras...
271       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
272   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
273  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[274 rows x 7 columns]

In [29]:
#reading old dataset
old_df = pd.read_csv('2019_Movie_data.csv')

In [30]:
old_df

                director_name  ...                                               comb
0                 Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
1               Rob Letterman  ...  Amy Poehler Rainn Wilson Stephen Colbert Rob L...
2               George Miller  ...  Robin Williams Brad Pitt Common George Miller ...
3                     unknown  ...  Don Johnson Philip Michael Thomas John Diehl u...
4                Chris Miller  ...  Salma Hayek Constance Marie Amy Sedaris Chris ...
...                       ...  ...                                                ...
37236  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
37237            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
37238              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
37239   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
37240         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[37241 rows x 7 columns]

In [31]:
#appending combined dataset of 2019 to old dataset
new_df=old_df.append(new_df20,ignore_index=True)

In [32]:
new_df

          director_name  ...                                               comb
0           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
1         Rob Letterman  ...  Amy Poehler Rainn Wilson Stephen Colbert Rob L...
2         George Miller  ...  Robin Williams Brad Pitt Common George Miller ...
3               unknown  ...  Don Johnson Philip Michael Thomas John Diehl u...
4          Chris Miller  ...  Salma Hayek Constance Marie Amy Sedaris Chris ...
...                 ...  ...                                                ...
37510  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
37511   Paul Greengrass  ...  Tom Hanks Helena Zengel unknown Paul Greengras...
37512       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
37513   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
37514  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[37515 rows x 7 columns]

In [33]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
comb             1
dtype: int64

In [34]:
new_df=new_df.dropna(how='any')

In [35]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [36]:
#getting new dataset having all 2018 movies
new_df.to_csv('2020_Movie_data.csv',index=False)