In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [12]:
#getting data of table using pd.read_html
#header=0 means ignoring first column of html table
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1=pd.read_html(url,header=0)[2]
df2=pd.read_html(url,header=0)[3]
df3=pd.read_html(url,header=0)[4]
df4=pd.read_html(url,header=0)[5]

In [19]:
#appending data to data frame
df = df2.append(df3.append(df4,ignore_index=True),ignore_index=True)
df

       Opening  ...   Ref.
0      JANUARY  ...    NaN
1      JANUARY  ...    NaN
2      JANUARY  ...    NaN
3      JANUARY  ...    NaN
4      JANUARY  ...    NaN
..         ...  ...    ...
258  SEPTEMBER  ...  [195]
259  SEPTEMBER  ...  [196]
260  SEPTEMBER  ...  [167]
261  SEPTEMBER  ...  [197]
262  SEPTEMBER  ...  [198]

[263 rows x 7 columns]

In [20]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [21]:
#importing api and setting up details
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
#use your own key here
tmdb.api_key='04b9df5416d75be096abd805b24b47a1'

In [22]:
#searching for movie and getting genre of it using api
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if result:
      movie_id=result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          np.NaN

In [23]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [24]:
df

       Opening  ...                                           genres
0      JANUARY  ...                                Horror Action War
1      JANUARY  ...                                            Drama
2      JANUARY  ...                               Comedy Crime Drama
3      JANUARY  ...                                    Drama History
4      JANUARY  ...                  Thriller Action Science Fiction
..         ...  ...                                              ...
258  SEPTEMBER  ...  Animation Family Fantasy Comedy Music Adventure
259  SEPTEMBER  ...                                            Drama
260  SEPTEMBER  ...                                   Drama Thriller
261  SEPTEMBER  ...                                            Drama
262  SEPTEMBER  ...                                    Romance Drama

[263 rows x 8 columns]

In [30]:
#seperating columns that we need
df_2021 = df[['Title','Cast and crew','genres']]

In [31]:
df_2021

                                Title  ...                                           genres
0                 Shadow in the Cloud  ...                                Horror Action War
1                     The White Tiger  ...                                            Drama
2                         Locked Down  ...                               Comedy Crime Drama
3                             The Dig  ...                                    Drama History
4                    Outside the Wire  ...                  Thriller Action Science Fiction
..                                ...  ...                                              ...
258  My Little Pony: A New Generation  ...  Animation Family Fantasy Comedy Music Adventure
259                  Dear Evan Hansen  ...                                            Drama
260                        The Guilty  ...                                   Drama Thriller
261                 Birds of Paradise  ...                                            Drama
262                     After We Fell  ...                                    Romance Drama

[263 rows x 3 columns]

In [32]:
#getting director/directors
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [33]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
#getting actor
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [35]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [37]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [39]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
df_2021

                                Title  ...           actor_3_name
0                 Shadow in the Cloud  ...           Beulah Koale
1                     The White Tiger  ...  Priyanka Chopra Jonas
2                         Locked Down  ...       Stephen Merchant
3                             The Dig  ...             Lily James
4                    Outside the Wire  ...          Emily Beecham
..                                ...  ...                    ...
258  My Little Pony: A New Generation  ...          James Marsden
259                  Dear Evan Hansen  ...       Amandla Stenberg
260                        The Guilty  ...           Riley Keough
261                 Birds of Paradise  ...      Jacqueline Bisset
262                     After We Fell  ...         Louise Lombard

[263 rows x 7 columns]

In [41]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [42]:
#split out useful columns
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [43]:
new_df21

                director_name  ...                       movie_title
0              Roseanne Liang  ...               Shadow in the Cloud
1               Ramin Bahrani  ...                   The White Tiger
2                  Doug Liman  ...                       Locked Down
3                 Simon Stone  ...                           The Dig
4             Mikael Håfström  ...                  Outside the Wire
..                        ...  ...                               ...
258  Robert Cullen, Jose Ucha  ...  My Little Pony: A New Generation
259           Stephen Chbosky  ...                  Dear Evan Hansen
260             Antoine Fuqua  ...                        The Guilty
261         Sarah Adina Smith  ...                 Birds of Paradise
262           Castille Landon  ...                     After We Fell

[263 rows x 6 columns]

In [44]:
#replace nan values 
new_df21['actor_1_name'] = new_df21['actor_1_name'].replace(np.nan, 'unknown')
new_df21['actor_2_name'] = new_df21['actor_2_name'].replace(np.nan, 'unknown')
new_df21['actor_3_name'] = new_df21['actor_3_name'].replace(np.nan, 'unknown')

In [45]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [47]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [48]:
new_df21

                director_name  ...                                               comb
0              Roseanne Liang  ...  Chloë Grace Moretz Taylor John Smith Beulah Ko...
1               Ramin Bahrani  ...  Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2                  Doug Liman  ...  Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3                 Simon Stone  ...  Carey Mulligan Ralph Fiennes Lily James Simon ...
4             Mikael Håfström  ...  Anthony Mackie Damson Idris Emily Beecham Mika...
..                        ...  ...                                                ...
258  Robert Cullen, Jose Ucha  ...  Vanessa Hudgens Kimiko Glenn James Marsden Rob...
259           Stephen Chbosky  ...  Ben Platt Kaitlyn Dever Amandla Stenberg Steph...
260             Antoine Fuqua  ...  Jake Gyllenhaal Ethan Hawke Riley Keough Antoi...
261         Sarah Adina Smith  ...  Kristine Froseth Diana Silvers Jacqueline Biss...
262           Castille Landon  ...  Josephine Langford Hero Fiennes Tiffin Louise ...

[263 rows x 7 columns]

In [49]:
#reading old dataset
old_df = pd.read_csv('2020_Movie_data.csv')

In [50]:
old_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
6151   Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6152    Paul Greengrass  ...  Tom Hanks Helena Zengel unknown Paul Greengras...
6153        Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6154    Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
6155   Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[6156 rows x 7 columns]

In [51]:
#appending combined dataset of 2019 to old dataset
new_df=old_df.append(new_df21,ignore_index=True)

In [52]:
new_df

                 director_name  ...                                               comb
0                James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1               Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                   Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3            Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                  Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                        ...  ...                                                ...
6414  Robert Cullen, Jose Ucha  ...  Vanessa Hudgens Kimiko Glenn James Marsden Rob...
6415           Stephen Chbosky  ...  Ben Platt Kaitlyn Dever Amandla Stenberg Steph...
6416             Antoine Fuqua  ...  Jake Gyllenhaal Ethan Hawke Riley Keough Antoi...
6417         Sarah Adina Smith  ...  Kristine Froseth Diana Silvers Jacqueline Biss...
6418           Castille Landon  ...  Josephine Langford Hero Fiennes Tiffin Louise ...

[6419 rows x 7 columns]

In [53]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      0
comb             1
dtype: int64

In [54]:
new_df=new_df.dropna(how='any')

In [55]:
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [56]:
new_df.to_csv('final_dataset.csv',index=False)